[submodule "comm/simplerpc"]
	path = comm/simplerpc
	url = https://github.com/cvra/simplerpc.git
[submodule "comm/serial-datagram"]
	path = comm/serial-datagram
	url = https://github.com/cvra/serial-datagram.git
[submodule "control/actuator-control-interface"]
	path = control/actuator-control-interface
	url = https://github.com/cvra/actuator-control-interface.git
[submodule "bus/master-firmware"]
	path = bus/master-firmware
	url = https://github.com/cvra/master-firmware.git
[submodule "bus/motor-control-firmware"]
	path = bus/motor-control-firmware
	url = https://github.com/cvra/motor-control-firmware.git
[submodule "drivers/tim561_lidar_driver"]
	path = drivers/tim561_lidar_driver
	url = https://github.com/cvra/tim561_lidar_driver.git
[submodule "comm/zmqmsgbus"]
	path = comm/zmqmsgbus
	url = https://github.com/cvra/zmqmsgbus.git
[submodule "bus/CAN-USB-dongle-fw"]
	path = bus/CAN-USB-dongle-fw
	url = https://github.com/cvra/CAN-USB-dongle-fw.git
[submodule "bus/can-bootloader"]
	path = bus/can-bootloader
	url = https://github.com/cvra/can-bootloader.git
[submodule "state_estimation/localization-stack"]
	path = state_estimation/localization-stack
	url = https://github.com/cvra/localization-stack.git
[submodule "control/arm-trajectories"]
	path = control/arm-trajectories
	url = https://github.com/cvra/arm-trajectories.git
