[submodule "comm/simplerpc"]
	path = comm/simplerpc
	url = https://github.com/cvra/simplerpc.git
[submodule "comm/serial-datagram"]
	path = comm/serial-datagram
	url = https://github.com/cvra/serial-datagram.git
[submodule "control/actuator-control-interface"]
	path = control/actuator-control-interface
	url = https://github.com/cvra/actuator-control-interface.git
[submodule "bus/master-firmware"]
	path = bus/master-firmware
	url = https://github.com/cvra/master-firmware.git
[submodule "bus/motor-control-firmware"]
	path = bus/motor-control-firmware
	url = https://github.com/cvra/motor-control-firmware.git
[submodule "drivers/tim561_lidar_driver"]
	path = drivers/tim561_lidar_driver
	url = https://github.com/cvra/tim561_lidar_driver.git
