nose
msgpack-python
zmq
pyyaml
./comm/serial-datagram/python
./comm/simplerpc/python
./comm/zmqmsgbus
./drivers/tim561_lidar_driver
./control/actuator-control-interface
./bus/CAN-USB-dongle-fw/python
