nose
msgpack-python
pyzmq==15.2.0
numpy
pyyaml
-e ./comm/serial-datagram/python
-e ./comm/simplerpc/python
-e ./comm/zmqmsgbus
-e ./drivers/tim561_lidar_driver
-e ./control/actuator-control-interface
-e ./bus/CAN-USB-dongle-fw/src/datagram-messages/python
-e ./bus/CAN-USB-dongle-fw/python
-e ./bus/can-bootloader/client
